<!DOCTYPE html>
<html>
	<head>
		<title>TUMcalendar</title>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style type="text/css">
		body {
			font-family: 'Open Sans', sans-serif;
		}

        input {
			font-family: 'Open Sans', sans-serif;
        }

        url {
            font-family: 'Inconsolata', monospace;
            background-color: #eee;
            border-radius: 5px;
            padding: 5px;
        }

        .warning {
            font-weight: bold;
            color: #B71C1C;
        }
		</style>
        <script type="text/javascript">

        var inputElement;
        var outputElement;
        var warningElement;
        window.onload = function() {
            inputElement = document.getElementById("calUrlInput");
            outputElement = document.getElementById("calUrlOutput");
            warningElement = document.getElementById("urlLengthWarning");
            generateUrl();
            inputElement.addEventListener ('keyup', generateUrl);
        }

        function generateUrl() {
            if(inputElement.value.trim() == "") {
                outputElement.innerHTML = "&lt;not available yet&gt;";
                warningElement.style.display = 'none';
            } else {
                var url = "{{base_url}}?url="+encodeURIComponent(inputElement.value.trim());
                if(url.length > 127) {
                    warningElement.style.display = 'block';
                }
                else {
                    warningElement.style.display = 'none';
                }
                outputElement.innerHTML = "{{base_url}}?url="+encodeURIComponent(inputElement.value.trim());
            }
            
        }

        </script>
	</head>
	<body>
		<h1>TUMcalendar</h1>
        More info about the project can be found <a href="https://github.com/ammyg/TUMcalendar"  target="_blank">here</a>.

        <h2>How-To</h2>
        <p>Go to <a href="https://campus.tum.de" target="_blank">TUMonline</a> &rarr; <a href="https://campus.tum.de/tumonline/wbKalender.wbPerson" target="_blank">Calendar</a> &rarr; Publish and paste the displayed iCAL address here:</p>
        <p><input type="text" id="calUrlInput" size="50" placeholder="Paste the iCAL URL here" /></p>
        <p>Finally add the URL <url class="url" id="calUrlOutput">&lt;not available yet&gt;</url> to your favourite calendar, e.g. Google Calendar</p>
        <p class="warning" id="urlLengthWarning">The output URL is quite long and Google Calendar may refuses to add the calendar. In order to avoid this use an Url Shortener (e.g. <a href="https://goo.gl" target="_blank">https://goo.gl</a>) before adding it to Google calendar!</p>
	</body>
</html>